.beneficios__container{
    display: flex;
    flex-direction: row;
    Justify-content: space-between;
    padding-top: 3%;

    width: 100%;
}

.beneficios__name_titulo{
    padding: 0;
    margin: .2em
}

.beneficios__box{
    display: flex;
    flex-direction: column;
    margin-left: 4%;
    margin-right: 4%;
}

.beneficios__name{
    font-weight: 700;
}

@media (max-width: 800px) {

    .beneficios__container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

@media (max-width: 500px){

    .beneficios__tittle{
        margin-bottom: -5%;
    }

    .beneficios__box{
        margin-left: 0;
        margin-right: 0;
    }

    .beneficios__name{
        text-align: center;
    }

    .beneficios__container{
        padding: 0;
    }

    .tiempo__img{
        padding-top: 0;
        padding-bottom: 0;
    }

    .beneficios__name_titulo{
        margin-top: -10%;
        margin-bottom: -14%;
    }


}

@media (max-width: 340px){

    .beneficios__name_titulo{
        margin-bottom: -10%;
    }

}