.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.llamada__contenedor__logo{
    position:absolute; 
    left: 25px; 
    top: 15px;
    padding-top: 10px;
    z-index: 2;
}

.head__logo{
    width: 30vh;
}

.llamada__container__slider{
    overflow: hidden;
}

.slider__header{
    display: flex;
    margin-left: -100%;
    width: 400%;

    animation: slide 20s infinite alternate ease-in;
}

.llamada__slider{
    width: 100%;
}

.llamada__img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}
 
@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

@media (min-width: 450px){

    .llamada__contenedor__logo{
        left: 40px; 
        top: 20px;
    }
        
    .head__logo{
        width: 50vh;
    }
}

@media (min-width: 600px){

    .llamada__contenedor__logo{
        left:50px; 
        top: 20pxh;
    }
        
    .head__logo{
        width: 60vh;
    }
}

@media (min-width: 800px){

    .llamada__contenedor__logo{
        left:50px; 
        top:20px;
    }
        
    .head__logo{
        width: 60vh;
    }
}

@media (min-width: 1200px){

     
    .head__logo{
        width: 80vh;
    }
}